/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}

:root{
/* debug */
    --border: 1px solid black;
/* colors */
    --blue-M:#0061FF;
    --lightBlue-H:#B4D0E7;
    --card-border: 1px solid #D1D1D4;
/*wrapper-width*/
    --width-jumbo:70%;
    --width-main:60%;
/* padding */
    --padding-card: 2rem 1.5rem;

}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
}

.btn span{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--blue-M);
    color: #fff;
    transition: 100ms;
}

.btn:hover span{
    background-color: #5897fd;
}
.wrapper{
    margin: 0 auto;
    height: 100%;
    max-width: 1100px;
    width: var(--width-main);
    
}

section{
    margin-bottom: 3rem;
}
/* utilities */
.mb-1{
    margin-bottom: 1rem;
}
/* typography */

h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
/* header section --------------------------------------------------------- */

/* fixed header */
.fixed-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    min-width: 100%;
    padding: 0 1rem;
    z-index: 10;
    background-color: #fff;
}

.header-links li{
    display: inline-block;
    margin-right: 1rem;
    height: 100px;
    line-height: 100px;
}

.right{
    text-align: right;
}

.header-links{
    width: 50%;
}

#logo{
    margin-right: 2rem;
    position: relative;
    top: 6px;
}

.header-links li:hover{
    border-bottom: 5px solid black;
}

/* jumbotron */

.jumbotron{
    background-color: var(--lightBlue-H);
    height: 650px;
    width: 100%;
    padding: 100px 0 0 0;
    margin-bottom: 7rem;
}

.jumbotron>div.wrapper{
    width: var(--width-jumbo);
}

.flex{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.bigger{ 
    min-width: 70%;
}



.jumbotron i{
    font-size: 40px;
}

.col p{
    margin-bottom: 2rem;
}
/* main---------------------------------------------------------- */
/* Business */
.wrapper input{
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    transform: scale(1.5);
}

.wrapper>span{
    margin-right: 2rem;
}

.card-container{
    display: flex;
    justify-content: space-between;

}

.card-col{
    min-height: 600px;
    width: calc(100% / 3 - 20px);
    border: var(--card-border);
}

.card-header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom:var(--card-border);
}

.card-header i{
    margin-right: 0.5rem;
}

.card-main{
    padding: var(--padding-card);
    line-height: 35px;
    width: 100%;
}

